@font-face {
    font-family: 'Product Sans';
    /* Name your font */
    src: url('/static/fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Product Sans';
}

body {
    background-color: #fff;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#facade {
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    #facade {
        display: none;
    }

    body {
        width: 410px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: unset;
    }
}

#promptMessage {
    text-align: center;
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messageList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#messageList li {
    margin-bottom: 5px;
}

#aliasInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#aliasInput {
    flex: 1;
    /* Take up remaining space */
    margin-right: 10px;
}

#sendButton {
    flex: 1;
    /* Take up remaining space */

}

#messageInput {
    flex: 1;
    /* Take up remaining space */
    margin-right: 10px;

}

.msgbox {
    display: flex;
    flex-direction: row;
}